@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #222f3e;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}



header {
  /* margin: 1rem; */
  position: sticky;
  top: 0px;
  margin-bottom: 2rem;
  background-color: #636e72;
}

.logo-text {
  font-size: 3rem;
  font-weight: 900;
  color: #dfe6e9;
  margin-left: 1rem;
}

/* Styling row */

.solution-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.8rem;
  flex-wrap: wrap;
  /* margin: 0.5rem; */
}

/* styling card component */

.solution-card {
  background-color: #f5f6fa;
  border: 2px solid;
  border-radius: 20px;
  max-width: 400px;
  padding: 0.9rem 0.8rem;
  width: 100%;
}

.solution-card img {
  border-radius: 5px;
  max-height: 100%;
  transition: 0.6s ease-in-out;
  max-width: 100%;
  display: block;
}

.solution-card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.solution-card__content .solution-other-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.solution-other-info .solution-stack {
  display: flex;
  gap: 0.5rem;

  li {
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
  }

  li:nth-child(1) {
    color: #6abecd;
  }

  li:nth-child(2) {
    color: #3e54a6;
  }

  li:nth-child(3) {
    color: #d57c94;
  }
}

.solution-badge {
  font-size: 1.12rem;
  font-weight: 700;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-container button {
  padding: 0.5rem 1.1rem;
  border: none;
  border-radius: 9px;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;

  a {
    color: #fff;
  }
}

.cta-container button:nth-child(1) {
  background-color: #ff7675;
}

.cta-container button:nth-child(2) {
  background-color: #55efc4;
}
