@media (max-width: 1000px) {
  main {
    flex-direction: column;
    padding: 2.5rem 1.25rem;
    background-image: url(/images/bg-intro-mobile.png);
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left_side {
    padding: 40px 0 60px;
    text-align: center;

    .tryit_btn {
      padding: 15px 60px;
      /* line-height: 1.5rem; */
    }

    h1 {
      font-size: 2rem;
      line-height: 1.5;
    }

    p {
      text-align: center;
    }

    form p {
      text-align: center;
    }
  }
}
